@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #6200ea;
    --secondary-color: #da5203;
    --background-color: white;
    --text-color: #212121;
    --nav-background-color: #3700b3;
    --button-background-color: var(--primary-color);
    --button-text-color: #ffffff;
    --link-color: var(--primary-color);
}

body.dark-mode {
    --background-color: #212121;
    --text-color: #e0e0e0;
    --nav-background-color: #121212;
    --button-background-color: #333333;
    --link-color: #bb86fc;
}

html,
body {
    height: 100%;
    font-family: "Rubik", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    height: 100%;
    width: 100%;
}

/* Navbar Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 30px;
    background-color: var(--nav-background-color);
    color: #fff;
}

#right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: #ffffffd7;
}

#right button,
#mode-toggle {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-background-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

#right button:hover {
    background-color: var(--secondary-color);
}

button a {
    color: var(--button-text-color);
}

/* New styles for responsive design */
#hamburger {
    display: none;
    cursor: pointer;
}

#mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--nav-background-color);
    position: absolute;
    top: 60px;
    width: 80%;
    z-index: 1000;
}

#mobile-menu h3,
#mobile-menu button {
    margin: 10px 0;
}

@media (max-width: 768px) {
    #right {
        display: none;
    }

    #hamburger {
        display: block;
    }
}


/* Header Styles */

.container0 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    width: 100%;
    padding: 40px 30px;
}

.image-section {
    width: 45%;
    display: flex;
    align-items: center;

}

.image-section img {
    width: 95%;
    height: 380px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.text-section {
    width: 50%;
    height: 350px;
    padding: 20px 30px;
    color: var(--text-color);
    border-radius: 8px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.title {
    font-size: 36px;
    color: var(--primary-color);
}

.description {
    font-size: 18px;
    width: 90%;
    line-height: 1.6;

}


/* Main Content Styles */
.container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

.mission {
    width: 60%;
    padding-right: 20px;
}

.mission h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.mission p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.statistics {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statistics .stat {
    margin-bottom: 40px;
}

.statistics .stat h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: #0a0a0a;
}

.statistics .stat p {
    font-size: 18px;
    margin-top: 10px;
    color: #555555;
}

/* Image Styles */
.image img {
    width: 80%;
    height: 600px;
    margin-left: 8%;
    border-radius: 10px;
    object-fit: cover;
}

/* Team Section Styles */
.team-section {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

.team-header {
    text-align: left;
    margin-bottom: 40px;
}

.team-header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.team-header p {
    font-size: 18px;
    color: #555;
    width: 50%;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.team-member {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-member img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}

.team-member h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 16px;
    color: #777;
}

/* Footer Styles */
footer {
    width: 100%;
    background-color: var(--nav-background-color);
    color: #fff;
    padding: 20px 30px;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .container0 {
        flex-direction: column;
        height: auto;
        gap: 30px;
    }

    .text-section {
        width: 100%;
        height: auto;
    }

    .title {
        font-size: 28px;
    }

    .description {
        font-size: 16px;
        width: 100%;
    }

    .image-section {
        width: 100%;
    }

    .image-section img {
        width: 100%;
        height: auto;
    }

    .container {
        flex-direction: column;
    }

    .mission {
        width: 100%;
        padding: 0px;
    }

    .mission h1 {
        font-size: 28px;
    }

    .mission p {
        font-size: 16px;
    }

    .statistics {
        width: 100%;
    }

    .statistics .stat h2 {
        font-size: 28px;
    }

    .statistics .stat p {
        font-size: 16px;
    }

    .image img {
        width: 100%;
        height: auto;
        margin-left: 0%;
        padding: 40px;
        border-radius: 50px;
    }

    .footer-container {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}