@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #6200ea;
    --secondary-color: #da5203;
    --background-color: white;
    --text-color: #212121;
    --nav-background-color: #3700b3;
    --button-background-color: var(--primary-color);
    --button-text-color: #ffffff;
    --link-color: var(--primary-color);
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    height: 100%;
    width: 100%;
}


 /* nav bar   */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 60px;
    width: 100%;
    background-color: var(--nav-background-color);
    color: #fff;
}

#left {
    color: #fff;
}

#right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

a {
    text-decoration: none;
    color: #ffffffd7;
}
#right a:hover{
    color: #ff7220;
    transition: color 0.3s;
}

#right button {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-background-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

#right button:hover {
    background-color: var(--secondary-color);
}

button a {
    color: var(--button-text-color);
}



/* hero section */
header {
    height: 90%;
    width: 100%;
    display: flex;
    background-color: #fff;
    color: var(--text-color);
    padding: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#left-h {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;
}

#left-h h1 {
    font-size: 58px;
    line-height: 1.2;
    color: var(--primary-color);
}

#left-h p {
    font-size: 18px;
    line-height: 1.6;
}

#right-h {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#right-h img {
    height: 350px;
    width: 550px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}



/* Tools & Technologies Used section */
#tech {
    background-color: var(--background-color);
    color: var(--primary-color);
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}

.tech {
    display: flex;
    gap: 20px;
}

.tech button {
    padding: 10px 20px;
    border: none;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tech button:hover {
    background-color: var(--secondary-color);
}


/* Featured Projects section */
#tools {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.tools {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
   justify-content: space-around;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 350px;
    gap: 10px;
    border-radius: 10px;
    background-color: var(--background-color);
    align-items: center;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cards img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
}

.cards h4, .cards p{
    width: 100%;

}
.cards button {
   width: 75%;
    padding: 8px ;
    cursor: pointer;
    border: none;
    border-radius: 5px;
   background-color: var(--button-background-color);
   color: var(--button-text-color);
   transition: background-color 0.3s; 
}
.cards button:hover{
    background-color: var(--secondary-color);
}


/* projects section */
.project {
    width: 100%;
    padding: 40px 30px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left-p {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#left-p h1 {
    font-size: 36px;
    color: var(--primary-color);
}

#left-p p {
    font-size: 16px;
    line-height: 1.6;
}

#left-p button {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    width: 30%;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

#left-p button:hover {
    background-color: var(--secondary-color);
}

#right-p {
    width: 50%;
    display: flex;
    justify-content: center;
}

#right-p img {
    height: 300px;
    width: 450px;
    border-radius: 15px;
    object-fit: cover;
}

/* faq section */
#faq {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

#faq h4:hover{
    color: var(--primary-color);
}
#left-f {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center; 
}
#right-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 80%;
    padding: 10px;
    padding-right: 40px;
}
.ques {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    width: 730px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
    cursor: pointer;
}
.ques i {
    font-size: 1.5em;
    transition: transform 0.3s;
}
.ans {
    width: 730px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
    display: none;
}


/* Footer Styles */
footer {
    width: 100%;
    background-color: var(--nav-background-color);
    color: #fff;
    padding: 20px 30px;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

