body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

.hidden {
    display: none;
}

#answers {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.answer-btn {
    background-color: #007bff;
    color: white;
    width: 50%;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.answer-btn:hover {
    background-color: #0056b3;
}
